          <div class="row panel-quick-page">

            <div class="col-xs-12 col-sm-5 col-md-4 page-events" routerLink="">
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">Performance Management</h4>
                </div>
                <div class="panel-body">
                  <div class="page-icon"><i class="fa fa-check-square-o"></i></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 page-messages">
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">Asset Management</h4>
                </div>
                <div class="panel-body">
                  <div class="page-icon"><i class="fa fa-laptop"></i></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 page-reports">
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">Accounting</h4>
                </div>
                <div class="panel-body">
                  <div class="page-icon"><i class="fa fa-money"></i></div>
                </div>
              </div>
            </div>
          </div><!-- row -->
          
          <div class="row panel-quick-page">
            <div class="col-xs-6 col-sm-3 col-md-2 page-messages">
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">Mails</h4>
                </div>
                <div class="panel-body">
                  <div class="page-icon"><i class="fa fa-envelope"></i></div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 page-events">
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">Events</h4>
                </div>
                <div class="panel-body">
                  <div class="page-icon"><i class="fa fa-calendar-o"></i></div>
                </div>
              </div>
            </div>				
            <div class="col-xs-6 col-sm-4 col-md-2 page-reports">
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">Reports</h4>
                </div>
                <div class="panel-body">
                  <div class="page-icon"><i class="fa fa-line-chart"></i></div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 page-statistics">
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">Statistics</h4>
                </div>
                <div class="panel-body">
                  <div class="page-icon"><i class="fa fa-pie-chart"></i></div>
                </div>
              </div>
            </div>		
            <div class="col-xs-6 col-sm-4 col-md-2 page-privacy">
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">Privacy</h4>
                </div>
                <div class="panel-body">
                  <div class="page-icon"><i class="fa fa-lock"></i></div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 page-settings">
			
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">Settings</h4>
                </div>
                <div class="panel-body">
                  <div class="page-icon"><i class="fa fa-cog"></i></div>
                </div>
              </div>
            </div>
          </div><!-- row -->          