<div class="signwrapper" style="margin-top:30%;">
  <div class="sign-overlay"></div>
  <div class="signpanel"></div>

  <div class="panel signin">
    <div class="panel-heading">
      <h1>SOFTCONS</h1>
      <h4 class="panel-title">Welcome! Please sign in.</h4>
    </div>
    <div class="panel-body">
      <!-- <button class="btn btn-primary btn-quirk btn-fb btn-block">Connect with Facebook</button> -->
      <!-- <div class="or">or</div> -->
      <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
        <div class="form-group mb10">
        <div [hidden]="!error">Username or Password is incorrect</div>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" formControlName="email" [(ngModel)]="email" placeholder="Enter Username" >
          <div *ngIf="email?.touched && email?.errors.pattern">Enter a valid EmailId</div>
          </div>
        
        </div>
        <div class="form-group nomargin">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" formControlName="password" [(ngModel)]="password" placeholder="Enter Password">
          </div>
        </div>
        <div><a href="" class="forgot">Forgot password?</a></div>
        <div class="form-group">
          <button class="btn btn-success btn-quirk btn-block" [disabled]="!loginForm.valid">Sign In</button>
        </div>
      </form>
      <hr class="invisible">
      <div class="form-group">
        <a href="signup.html" class="btn btn-default btn-quirk btn-stroke btn-stroke-thin btn-block btn-sign">Not a member? Sign up now!</a>
      </div>
    </div>
  </div><!-- panel -->
</div>